.hidden {
  display: none !important;
}

.menu > ul {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0;
  padding: 0 2rem;
  border-bottom: 1px solid #6a6a6a;
  list-style: none;

  & > li {
    display: inline-block;
    position: relative;
    top: 1px;
    margin: 0 0.5rem;
    padding: 0 0 calc(0.5rem - 2px);
    border-bottom: 3px solid transparent;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &.selected {
      border-bottom-color: #fcfcfc;
    }
  }
  & > li > a {
    color: darken(#fcfcfc, 30);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.125s linear;
  }
  & > li.selected > a {
    color: #fcfcfc;
  }
  & > li:hover > a {
    color: #fcfcfc;
  }
}

.menu.secondary > ul {
  font-size: 1rem;

  & > li {
    border-bottom-width: 2px;
  }
}

.track {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  & > img {
    margin: 0;
    max-width: 30vw;
    border-radius: 0;
  }

  & > .song-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.75rem;

    & > span {
      display: block;
      font-size: 1.125rem;
    }
    & > .title {
      font-size: 1.25rem;
      margin-bottom: 0.125rem;
    }
    & > .artist {

    }
    & > .requested-by {
      font-size: 0.05rem;
      color: darken(#fcfcfc, 30);
      margin-top: 0.625rem;
      user-select: text;
      cursor: default;
    }
  }
}

.song-info {
  & > span {
    user-select: text;
    cursor: text;
  }

  & > .requested-by {
    -webkit-user-select: none !important;
    user-select: none !important;
    cursor: default;
  }
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

$query-height: 2.5rem;
$query-height-mouse: 2rem;
$border-width: 0.125rem;

.pill-group {
  display: flex;
  flex-direction: row;
  margin: 0 $query-height / 4;
  height: $query-height;
  border: 1px solid #222;
  border-right: none;
  border-radius: $query-height / 6;
  outline: none;
  background: #2C2C2C;
  box-shadow: 0 0.1rem 0.25rem #0A0A0A, inset 0 0.125rem 0.125rem #2A2A2A;
  box-shadow: 0 0.1rem 0.25rem #0A0A0A, 0 0.1rem 0.25rem transparent, inset 0 0.125rem 0.125rem #2A2A2A;
  transition: 100ms background-color, 150ms box-shadow;
  z-index: 4;

  &.focus {
    box-shadow: 0 0 0.25rem #FAFAFA, 0 0.1rem 0.25rem #0A0A0A, inset 0 0.125rem 0.125rem #2A2A2A;
  }

  & > input[type=text] {
    flex: 1;
    color: #fcfcfc;
    text-shadow: 0 0.1rem #1A1A1A;
    padding: 0 $query-height / 4 0 $query-height / 3.5;
    height: 100%;
    border: none;
    border-radius: $query-height / 6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    background: transparent;
    z-index: 6;
  }

  & > input[type=submit] {
    color: #fcfcfc;
    font-size: 0.95rem;
    font-weight: bold;
    margin-left: 0.25rem;
    padding-left: $query-height / 4;
    padding-right: $query-height / 3;
    height: 100%;
    border: none;
    border: $border-width solid transparent;
    border-radius: $query-height / 6;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    outline: none;
    background: transparent;
    transition: 100ms background-color, 100ms box-shadow;
    cursor: pointer;
    z-index: 5;

    &:hover, &:focus {
      border-color: #3A3A3A;
      background-color: #3A3A3A;
    }
    &:focus:active {
      background-color: transparent;
      transition-duration: 50ms, 50ms;
    }

    &:focus {
      box-shadow: 0 0 0.125rem #0A0A0A, 0 0 0.25rem #ACACAC;
    }
  }
}

@media (min-width: 30rem) {
  .pill-group {
    margin: 0 $query-height-mouse / 4;
    border-radius: $query-height-mouse / 6;

    & > input[type=text] {
      padding-left: $query-height-mouse / 3;
      padding: 0 $query-height / 4 0 $query-height / 3.5;
      border-radius: $query-height-mouse / 6;
    }

    & > input[type=submit] {
      border-top-right-radius: $query-height-mouse / 6;
      border-bottom-right-radius: $query-height-mouse / 6;
    }
  }
}

span.spinner {
  transition: 300ms opacity ease-out, 0.5s margin-left;
  transition-delay: 200ms, 0s;
  opacity: 1;
  margin-left: 0;
  z-index: 1;

  &.hiding {
    opacity: 0;
    margin-left: -40px;
    transition: 100ms opacity ease-in, 0.4s margin-left;
    transition-delay: 0s, 100ms;
  }
}
