
#join {
  position: relative;
  top: -1rem;
}

@media (min-height: 40rem) {
  #join {
    top: -2rem;
  }
}
@media (min-width: 56rem) and (orientation: landscape), (min-width: 56rem) {
  #join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -2rem;
  }
}

#join > .form-group {
  justify-content: center;
}

#partyCode {
  width: 5rem;
  font-family: monospace;
}
