# Node
node_modules/
npm-debug.log

# Code coverage
.nyc_output/

# Intermediate build files
.fusebox/
js/
public/assets/stylesheets/party.min.css
public/assets/stylesheets/party.min.css.map
public/assets/javascript/party.js
public/index.html

# Code coverage
coverage/

graph.svg
